.form-search#todos-add-form
  input.input-xlarge.search-query#todos-add-text(type='text', placeholder!='{{t "todos.add.placeholder"}}')
  button.btn.btn-primary#todos-add-submit(type='submit', title!='{{t "general.add"}}')
    span.fa.fa-plus
